<% if (typeof success_msg !== 'undefined' && success_msg.length > 0) { %>
  <% success_msg.forEach(msg => { %>
    <div class="flash flash--success"><%= msg %></div>
  <% }); %>
<% } %>
<% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
  <% error_msg.forEach(msg => { %>
    <div class="flash flash--error"><%= msg %></div>
  <% }); %>
<% } %>
