node_modules/
.env
*.db
public/uploads/dishes/*
public/uploads/events/*
public/uploads/news/*
public/uploads/gallery/*
public/uploads/hero/*
public/uploads/about/*
public/uploads/payment/*
!public/uploads/**/.gitkeep
